.custom-input {
  box-sizing: border-box;
  margin: 0;
  padding: 3px 7px;
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.6666666666666667;
  list-style: none;
  font-family: Poppins;
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: var(--fc-border-color);
  border-radius: 6px;
  transition: all 0.2s;
}

.custom-input:hover {
  border-color: var(--primary-color);
  border-inline-end-width: 1px;
}
.custom-input:focus {
  border-color: var(--fc-border-color);
  box-shadow: 0 0 0 2px var(--fc-border-color);
  border-inline-end-width: 1px;
  outline: 0;
}
